<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="robots" content="noindex">
	<link rel="stylesheet" href="{{ path.css }}/site.css">
	<link rel="stylesheet" href="{{ path.css }}/{% if page.url == "/" %}home.css{% else %}{{ page.fileSlug }}.css{% endif %}">
	<link href="https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&family=Open+Sans:wght@400;600&display=swap" rel="stylesheet">
	<link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin>
	<script src="{{ path.js }}/site.js" defer></script>
	<title>{{ title }} - Leahviathan</title>
	<link rel="icon" href="{{ path.img }}/favicon.png">
</head>