<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="icon" href="/img/favicon.png">
	<link rel="stylesheet" href="/css/site.css">
	<link rel="stylesheet" href="/css/{% if page.url == "/" %}home.css{% else %}{{ page.fileSlug }}.css{% endif %}">
	<link href="https://fonts.googleapis.com/css?family=Palanquin|Press+Start+2P&display=swap" rel="stylesheet">
	<link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin>
	<script src="/js/site.js" defer></script>
	<title>{{ title }} - Leahviathan</title>
</head>