{% assign pageSlugs = "/,/info/,/merch/,/stream/,/cosplay/,/blog/,/contact/" | split: ',' %}
{% assign pageDisplays = "Home,Info,Merch,Stream,Cosplay,Blog,Contact" | split: ',' %}

<nav id="site-nav">
	<ul>
		{%- for slug in pageSlugs %}
		<li {%- if page.url == slug %} aria-current="page"{% endif -%}>
			{%- unless page.url == slug -%}<a href="{{ path.site }}{{ slug }}">{%- endunless -%}
				{{ pageDisplays[forloop.index0] }}
			{%- unless page.url == slug -%}</a>{%- endunless -%}
		</li>
		{%- endfor %}
	</ul>
</nav>