{% assign pageSlugs = "/,/info/,/merch/,/stream/,/cosplay/,/blog/,/contact/" | split: ',' %}
{% assign pageDisplays = "Home,Info,Merch,Stream,Cosplay,Blog,Contact" | split: ',' %}

<nav class="navigation-menu" id="site-navigation-menu" data-js-active="false">
	<button class="menu-button" type="button" aria-controls="site-navigation-menu-content" id="site-navigation-menu-button" hidden>
		<svg class="menu-button-icon" width="20" height="20" viewBox="0 0 100 100" aria-hidden="true" >
			<rect class="line-top-left" x="0" y="0" width="60" height="20"/>
			<rect class="line-top-right" x="40" y="0" width="60" height="20"/>
			<rect class="line-mid-left" x="0" y="40" width="60" height="20"/>
			<rect class="line-mid-right" x="40" y="40" width="60" height="20"/>
			<rect class="line-bottom-left" x="0" y="80" width="60" height="20"/>
			<rect class="line-bottom-right" x="40" y="80" width="60" height="20"/>
		</svg>
		<span class="menu-button-text" id="site-navigation-menu-button-text">Open menu</span>
	</button>
	<ul class="menu" id="site-navigation-menu-content">
		{%- for slug in pageSlugs -%}
			<li {%- if page.url == slug %} aria-current="page"{%- endif -%}>
				{%- unless page.url == slug -%}<a href="{{ path.site }}{{ slug }}">{%- endunless -%}
					{{ pageDisplays[forloop.index0] }}
				{%- unless page.url == slug -%}</a>{%- endunless -%}
			</li>
		{%- endfor -%}
	</ul>
</nav>