@import './site/helpers';

#page-main {

img {
	margin: 3rem 0 1rem;
}

.biography {
	margin-bottom: 1rem;

	img {
		max-width: 16rem;
		border-radius: 1rem;
	}
}

@media(min-width: 45rem) {

	.key-info {
		max-width: 55%;
	}

	.biography {
		position: relative;
		margin-top: 3rem;

		h2 {
			max-width: 55%
		}

		img {
			position: absolute;
			bottom: 0;
			right: 0;
			width: 40%;
			margin: 0;
		}
	}
}

.associations-list {
	display: inline-block;
	columns: 10rem 2;
}

.acting {
	@extend %group;
	margin: 0 0 3rem;

	@media(min-width: 30rem) {
		margin-top: 3rem;

		img {
			float: left;
			width: 35vw;
			height: 17rem;
			object-fit: cover;
			margin: 0 1rem 1rem 0;
		}
	}
}

}