// Remove bullet points and padding from ULs
ul%no-bullets {
	list-style-type: none;
	padding-left: 0;
}

// Display tick, cross or question mark
// ul + %boolean = ?
// ul + %boolean + %true = all ✓ (green)
// ul + %boolean + %false = all ✗ (red)
// ul + %boolean > li + %true = one ✓ (green)
// ul + %boolean > li + %false = one ✗ (red)
ul%boolean {
	list-style-type: none;
}

ul%boolean > li {
	position: relative;
}

ul%boolean > li::before {
	position: absolute;
	right: 100%;
	font-weight: 700;
	content: '?\00a0';
}

ul%boolean%true > li:not(%false)::before,
ul%boolean > li%true::before {
	content: '\2713\00a0';
	color: #00a51b;
}

ul%boolean%false > li:not(%true)::before,
ul%boolean > li%false::before {
	content: '\2717\00a0';
	color: #a50000;
}

// Decimal count including children. T&Cs style
// ol + %indexed > li = 1.1, 1.2, etc...
// ol + %indexed > ol + %reset = a, b, etc...
// ol + %indexed + %headings = 1. Heading Text, 2. Heading Text, etc...
ol%indexed ol%reset {
	list-style-type: lower-alpha;
}

ol%indexed ol%reset ol {
	list-style-type: lower-roman;
}

ol%indexed,
ol%indexed > li > ol,
ol%indexed > li > ol > li > ol {
	list-style-type: none;
}

ol%indexed > li,
ol%indexed > li > ol > li,
ol%indexed > li > ol > li > ol > li {
	position: relative;
}

ol%indexed li::before,
ol%indexed%headings > li > :first-child::before {
	position: absolute;
	right: 100%;
}

ol%indexed,
ol%indexed ol {
	counter-reset: section;
}

ol%indexed > li::before,
ol%indexed > li > ol > li::before,
ol%indexed > li > ol > li> ol > li::before,
ol%indexed%headings > li > :first-child::before  {
	counter-increment: section;
	content: counters(section, ".") ".\00a0";
}

ol%indexed ul li::before,
ol%indexed ol%reset li::before,
ol%indexed%headings > li::before {
	content: none;
}