$colour-text: #ccc;

$colour-brand: hsl(175, 70%, 40%);
$colour-brand-subtle: darken(desaturate($colour-brand, 23%), 20%);

$colour-alt: hsl(280, 60%, 50%);
$colour-alt-subtle: darken(desaturate($colour-alt, 20%), 25%);

$colour-sea: hsl(245, 40%, 10%);
$colour-sea-light: hsl(180, 50%, 25%);
$colour-sea-dark: hsl(245, 50%, 2.5%);