$colour-text-light: #e7fcff;
$colour-text-dark: #002024;
$colour-text: $colour-text-light;

$colour-brand: #850071;
$colour-brand-lighter: #a42e8d;

$colour-sea: #004f57;
$colour-sea-light: #29757f;
$colour-sea-dark: #002b30;