%animations-toggle {

	display: none; // Hide if JavaScript isn't running

	$switch-height: 1rem;

&[data-checked] {
	grid-column: 1 /3;
	justify-self: end;
	@extend %row;
	color: $colour-text-light;
	font-size: 80%;
	line-height: 1;

	& .switch {
		position: relative;
		@extend %row;
		align-items:center;
		justify-content: space-between;
		font-size: 75%;
		color: white;
		width: $switch-height * 2;
		height: $switch-height;
		padding: 0 0.25rem 0.15rem;
		margin-left: 0.5rem;
		border-radius: $switch-height;

		&:hover {
			cursor: pointer;
		}

		&::after {
			content: '';
			position: absolute;
			top: -0.05rem;
			right: -0.05rem;
			width: $switch-height + 0.1rem;
			height: $switch-height + 0.1rem;
			background: hsl(220, 20%, 60%);
			border-radius: 50%;
			transition: transform 75ms;
		}

		input {
			position: absolute;
			top: 50%;
			right: 0;
			transform: translate(-0.15rem, -50%) scale(0.1);
			transition: transform 75ms;
			outline: none;

			&:focus ~ span:first-of-type::before {
				content: '';
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				@extend %outline-focus;
			}
		}
	}
}

&[data-checked="true"] .switch {
	background: hsla(160, 50%, 40%, 0.75);
}

&[data-checked="false"] .switch {
	background: hsla(310, 75%, 50%, 0.5);

	&::after {
		transform: translateX(-$switch-height);
	}

	& input {
		transform: translate(-1.1rem, -50%) scale(0.1);
	}
}

}