%animations-toggle {
	grid-column: 1 /3;
	@extend %row;
	justify-content: end;

	input {
		@extend %hidden-visually;
	}

	label {
		position: relative;
		color: hsla(60, 100%, 100%, 0.9);
		font-size: 80%;
		padding-right: 2.75rem;
	}

	$translate-y: calc(-50% + 0.1rem);

	label::before,
	label::after {
		position: absolute;
		top: 50%;
		right: 0;
		transform: translateY($translate-y);
		color: white;
	}

	label::before{
		content: 'on off';
		font-size: 75%;
		padding: 0 0.3rem 0.1rem;
		margin-right: 0.15rem;
		border-radius: 0.5rem;
		border: 0.05rem solid hsla(200, 25%, 70%, 0.25);
		background: hsl(310, 100%, 60%, 0.3);
	}

	label::after {
		content: '';
		width: 1.1rem;
		height: 1.1rem;
		background: hsl(220, 20%, 60%);
		border-radius: 50%;
		transform: translate(calc(-100% - 0.2rem), $translate-y);
		transition: transform 75ms;
	}

	input:checked ~ label::before {
		background: hsl(160, 100%, 35%, 0.3);
	}

	input:checked ~ label::after {
		transform: translate(-0.1rem, $translate-y);
	}

}