*,
*::before,
*::after {
	box-sizing: border-box;
}

html {
	min-height: 100vh;
	color: $colour-text;
	font: $font;
	overflow-wrap: break-word;
	background: $colour-sea-dark;
}

body {
	min-height: 100vh;
	margin: 0 auto;
	padding: $site-padding;
	display: grid;
	grid-template: min-content 1fr min-content / $site-gutter 1fr $site-gutter;
	background:
		// radial-gradient(
		// 	circle farthest-corner at calc(100% - 10rem) 8rem,
		// 	hsl(60, 25%, 50%),
		// 	transparent 15rem
		// ),
		linear-gradient(
			$colour-sea calc((100% - 5rem) * 0.9),
			$colour-sea-dark calc(100% - 5rem)
		)
	;
}

main {
	grid-area: 2 / 2 / -2 / 3;
}

a:link {
	color: white;
}

a:visited {
	color: $colour-text;
}

a:hover {
	color: yellow;
}

a:active {
	color: orange;
}

img {
	width: 100%;
	max-width: 100%;
	height: auto;
}