*,
*::before,
*::after {
	box-sizing: border-box;
}

html {
	min-height: 100vh;
	color: $colour-text;
	font: $font;
	overflow-wrap: break-word;
}

body {
	min-height: 100vh;
	margin: 0 auto;
	display: grid;
	grid-template: min-content min-content 1fr min-content / 6.75rem 1fr 6.75rem;
	background: radial-gradient(circle farthest-corner at calc(100% - 10rem) 8rem,
		hsl(60, 25%, 50%),
		hsl(205, 60%, 20%) 15rem,
		hsl(216, 60%, 2.5%)
	);
}

main {
	grid-area: 3 / 2 / 4 / -2;
}

a:link {
	color: white;
}

a:visited {
	color: $colour-text;
}

a:hover {
	color: yellow;
}

a:active {
	color: orange;
}