*,
*::before,
*::after {
	box-sizing: border-box;
}

*:focus {
	@extend %outline-focus;
}

html {
	min-height: 100vh;
	color: $colour-text;
	font: $font;
	overflow-wrap: break-word;
	background: $colour-sea-dark;
}

body {
	min-height: 100vh;
	margin: 0 auto;
	padding: $site-padding;
	display: grid;
	grid-template: min-content 1fr min-content / $site-gutter 1fr $site-gutter;
	background:
		linear-gradient(
			$colour-sea calc((100% - 5rem) * 0.9),
			$colour-sea-dark calc(100% - 5rem)
		)
	;
}

main {
	grid-area: 2 / 2 / -2 / 3;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: 700;
}

a:link {
	color: lighten($colour-text, 5%);
}

a:visited {
	color: $colour-text;
}

a:hover {
	color: $colour-brand;
}

a:active {
	color: $colour-alt;
}

img {
	width: 100%;
	max-width: 100%;
	height: auto;
}

button {
	@extend %button;
}