#page-footer {

padding: 6rem 0rem 2rem;
background-image: linear-gradient(to bottom,
	transparent,
	$colour-sea-dark 4rem
);
background-repeat: no-repeat;
font-size: 80%;
color: $colour-minimal;
text-align: center;

a {
	color: inherit;
}

}