#page-footer {

margin-top: -6rem;
padding: 12rem 0rem 2rem;
background-image: radial-gradient(ellipse 100% 12rem at top,
	transparent 50%,
	$colour-sea-dark
);
background-repeat: no-repeat;
font-size: 80%;
color: $colour-minimal;
text-align: center;

a {
	color: inherit;
}

}