#site-header {

	grid-area: 1 / 2 / 2 / -2;
	display:grid;
	grid-template: 1fr / 1fr;
	justify-items: start;
	align-items: start;

	.animations-toggle {
		@extend %animations-toggle;
	}

}

#home-header {

	.animations-toggle {
		@extend %animations-toggle;
	}

}