#page-main {

margin-top: 1rem;

@media(min-width: $mq-site-narrow) {
	margin-top: 3rem;
}

h1 {
	$diver-size: 4rem;

	position: relative; // Contains spotlight
	float: right; // Align text right while also collapsing
	line-height: 1;
	font-size: 2.5rem;
	margin-bottom: 1rem;
	padding-right: $diver-size * 0.75 - $margin-site-narrow;
	padding-bottom: $diver-size / 2;

	@media (min-width: 20rem) {
		$diver-size: 25vw;

		font-size: 15.625vw;
		padding-right: calc(#{$diver-size * 0.75} - #{$margin-site-narrow});
		padding-bottom: $diver-size / 2;
	}

	@media (min-width: 28rem) {
		$diver-size: 5.5rem;

		font-size: 3.5rem;
		padding-right: $diver-size * 0.75 - $margin-site-narrow;
		padding-bottom: $diver-size / 2;
	}

	@media (min-width: $mq-site-narrow) {
		margin-bottom: 0rem;
		padding-right: $diver-size * 0.75 - $margin-site;
		padding-bottom: $diver-size / 2;
	}

	& + * {
		clear: right; // Prevent elements actually floating
	}

	&::before {
		content: '';
		position: absolute;
		z-index: -2; // Stay under animations toggle
		right: -$margin-site-narrow;
		bottom: 0;
		transform: translateY(50%);
		width: 1000%;
		padding-top: 1000%;
		background-repeat: no-repeat;

		@mixin diver($diver-size) {
			$padding: 6rem;
			$spread: 4rem;

			background-image:
				url(../img/diver.png),
				radial-gradient(
					ellipse farthest-side at calc(100% - #{$diver-size / 2}) center,
					$colour-sea-light calc(10% + #{$padding}),
					transparent calc(10% + #{$padding + $spread})
				)
			;
			background-size: $diver-size, 100%;
			background-position: 100% calc(50% - #{$diver-size / 2}), 100% calc(50% - #{$diver-size / 2});
		}

		@include diver(4rem);

		@media (min-width: 20rem) {
			@include diver(25vw);
		}

		@media (min-width: 28rem) {
			@include diver(5.5rem);
		}

		@media (min-width: $mq-site-narrow) {
			right: -$margin-site;
		}
	}

}

}