#page-main {

margin-top: 1rem;

h1 {
	position: relative; // Contains spotlight
	float: right; // Align text right while also collapsing
	line-height: 1;
	margin-top: 1rem;
	padding-right: 2.5rem;
	padding-bottom: 4rem;

	& + * {
		clear: right; // Prevent elements actually floating
	}

	&::before {
		content: '';
		position: absolute;
		z-index: -1;
		bottom: 1rem;
		transform: translateY(50%);
		right: -1rem;
		width: 200%;
		padding-top: calc(200% + 6.8rem);
		background-image:
			url(../img/diver.png),
			radial-gradient(
				ellipse farthest-side at calc(100% - 1rem) 50%,
				$colour-sea-light calc(50% + 2rem),
				transparent
			)
		;
		background-size: 4rem, 100%;
		background-repeat: no-repeat;
		background-position: 100% calc(50% - 3rem);
	}
}

}