#site-nav {

[aria-current="page"] {
	position: relative;

	::before {
		position: absolute;
		display: block;
		content: '';
		background: url("/leahviathan/img/squid.png");
		background-size: contain;
		transform: translateY(-50%);
		top: 50%;
		right: calc(100% + 0.5ch);
		width: 1.75ch;
		height: 1.75ch;
	}
}

}