#page-body {

$diver-offset-x: 15rem;
$diver-offset-y: 8rem;

$diver-x: calc(50% + #{$diver-offset-x});
$diver-y: calc(100% - #{$diver-offset-y});

$light-x: calc(50% + #{$diver-offset-x} + 0.2rem);
$light-y: calc(100% - #{$diver-offset-y} - 5rem);

background-repeat: no-repeat;
background-image:
	radial-gradient(circle at $light-x $light-y,
		hsla(70, 50%, 30%, 0.5),
		hsla(240, 25%, 50%, 0.25) 22rem,
		transparent 50rem
	),
	url("../img/diver.png")
;
background-size:
	100%,
	12rem 12rem
;
background-position:
	0 0,
	$diver-x $diver-y
;

}