body {
	$horizon-start: 20vh;
	$horizon-end: $horizon-start + 2vh;
	$break-start: $horizon-end + 10vh;
	$break-end: $break-start + 0.5vh;
	$fade-start: $break-end + 2.5vh;
	$fade-end: $fade-start + 2vh;
	$sea-start: $fade-end + 25vh;

	background-image: linear-gradient(
		black $horizon-start,
		$colour-sea-light $horizon-end $break-start,
		lighten($colour-sea-light, 10%),
		darken($colour-sea-light, 10%) $fade-end,








		$colour-sea $sea-start,
		calc(100% - 10rem),
		$colour-sea-dark calc(100% - 5rem)
	);
}