body {
	$padding-top: 3rem;
	$padding-sides: 15.5rem;
	$image-ratio: 0.24;
	$image-height: calc(100vw - #{$padding-sides});

	$sky-height: calc(#{$padding-top} + #{$image-height} * #{$image-ratio});
	$horizon-height: 1rem;
	$surface-height: 8vw;
	$break-height: 1.5rem;
	$fade-height: 10rem;

	$sky-end: $sky-height;
	$surface-start: calc(#{$sky-end} + #{$horizon-height});
	$surface-end: calc(#{$surface-start} + #{$surface-height});
	$fade-start: calc(#{$surface-end} + #{$break-height});
	$fade-end: calc(#{$fade-start} + #{$fade-height});

	background-image: linear-gradient(
		black $sky-end,
		$colour-sea-light $surface-start $surface-end,
		lighten($colour-sea-light, 10%),
		darken($colour-sea-light, 8%) $fade-start,
		$colour-sea $fade-end	calc(100% - 10rem),
		$colour-sea-dark calc(100% - 5rem)
	);
}