#page-header {

position: relative;
grid-area: 1 / 1 / 2 / -1;
margin: #{-$site-padding} #{-$site-padding} 0 #{-$site-padding};

.animations-toggle {
	position: absolute;
	top: 1rem;
	right: 1rem;
}

h1 {
	@extend %hidden-visually;
}

.neon-header {
	display: block;
	margin: 20vh auto 0;
	width: 70vw;
	max-width: 50rem;
}

.social-icons {
	$icon-width: 5vw;

	@extend %row;
	justify-content: space-between;
	max-width: $icon-width * 4;
	margin: (-2.5vw + $icon-width) auto 0;
	position: relative;

	&::after {
		content: "";
		position: absolute;
		top: calc(100% + 2rem);
		left: 0;
		width: $icon-width * 4;
		height: $icon-width;
		background-image: url("../img/icon-twitch.svg"), url("../img/icon-twitter.svg"), url("../img/icon-instagram.svg");
		background-position: bottom left, bottom center, bottom right;
		background-repeat: no-repeat;
		transform: scaleY(-1.5);
		opacity: 0.05;
	}

	> a,
	> a > img {
		width: $icon-width;
		height: $icon-width;
		border-radius: 25%;
	}
}

}