#page-header {

position: relative;
grid-area: 1 / 1 / 2 / -1;
margin: #{-$site-padding} #{-$site-padding} 0 #{-$site-padding};
padding-bottom: 20vw;
@media(min-width: $mq-wide) {
	padding-bottom: 14.5rem;
}

.animations-toggle {
	position: absolute;
	top: 1rem;
	right: 1rem;
}

h1 {
	@extend %hidden-visually;
}

.neon-header {
	display: block;
	margin: 20vh auto 0;
	width: 70vw;

	@media(min-width: $mq-wide) {
		width: 50rem;
	}
}

.social-icons {
	$icon-width: 5vw;

	@extend %row;
	justify-content: space-between;
	max-width: $icon-width * 5.5;
	margin: (-1.75vw + $icon-width / 2) auto 0;
	position: relative;

	@media(min-width: $mq-wide) {
		max-width: 19.8rem;
		margin-top: 0.6rem;
	}

	> a,
	> a > img {
		width: $icon-width;
		height: $icon-width;
		border-radius: 25%;

		@media(min-width: $mq-wide) {
			width: 3.6rem;
			height: 3.6rem;
		}
	}

	[class^="icon-"] {
		position: relative;

		&::after {
			content: "";
			position: absolute;
			top: 1vw;
			left: 0;
			width: $icon-width;
			height: $icon-width;
			transform: scale(0.75, -1.25) skewX(-20deg);
			transform-origin: bottom;
			filter: opacity(0.1) blur(0.25vw);
			pointer-events: none;

			@media(min-width: $mq-wide) {
				top: 0.72rem;
				width: 3.6rem;
				height: 3.6rem;
				filter: opacity(0.1) blur(0.2rem);
			}
		}
	}

	.icon-twitch::after {
		background-image: url("../img/icon-twitch.svg");
	}

	.icon-twitter::after {
		background-image: url("../img/icon-twitter.svg");
	}

	.icon-instagram::after {
		background-image: url("../img/icon-instagram.svg");
	}

	.icon-youtube::after {
		background-image: url("../img/icon-youtube.svg");
	}
}

}