@mixin animations-toggle {

$transition: 0.05s linear;

flex-shrink: 0; // Prevent wrapping on non-mobile screens
font-size: 80%;

.switch {
	position: relative; // contains input and toggle
	top: -0.083em; // centre visually
	display: inline-block;
	width: 2rem;
	font-size: 75%;
	vertical-align: text-bottom; // fix for IE

	&:hover {
		cursor: pointer;
	}

	input {
		position: absolute;
		z-index: -1;
		width: 100%;
		height: 100%;
	}

	.labels {
		@extend %row;
		justify-content: space-between;
		padding: 0 0.45em 0 0.3em;
		border-radius: 1rem;
		background-image: linear-gradient(90deg, #14850a 50%, $colour-brand 50%);
		background-size: 200% 100%;
		background-position: 100% 0%;
		transition: background-position $transition;

		&::before,
		&::after {
			transform: translateY(-0.083em);
			transition: opacity $transition;
		}

		&::before {
			content: 'on';
			opacity: 0;
		}

		&::after {
			content: 'off';
			opacity: 1;
		}
	}

	input:checked ~ .labels {
		background-position: 0%;

		&::before {
			opacity: 1;
		}

		&::after {
			opacity: 0;
		}
	}

	.toggle {
		position: absolute;
		top: -0.05rem;
		right: -0.05rem;
		transition: transform $transition;
		transform: translateX(-1.1rem);
		width: 1rem;
		height: 1rem;
		border-radius: 50%;
		background: $colour-minimal;
	}

	input:checked ~ .toggle {
		transform: none;
	}
}

&:hover .toggle {
	background-color: $colour-contrast;
}

}