@import './navigation-menu';
@import './animations-toggle';

#page-header {

@extend %row;
justify-content: flex-end;
align-items: flex-start;
padding-top: 1rem;
min-height: 3.4rem; // Navigation menu height + padding

@media (min-width: $mq-header-narrow) {
	justify-content: space-between;
	min-height: auto;
}
.navigation-menu {
	@include navigation-menu;
}

.animations-toggle {
	@include animations-toggle;
}

}