@mixin navigation-menu {

$transition: 0.25s ease-out;

position: absolute;
top: 1rem;
left: 0rem;
z-index: 1; // Overlap animations toggle
pointer-events: none; // Prevent blocking of animations toggle
display: inline-flex;
display: inline flex;
flex-direction: row-reverse;
align-items: flex-start;

&[data-js-active="false"] {
	position: static;
	margin-right: auto;
}

@media (min-width: $mq-header-narrow) {
	position: static;
}

.menu-button {
	pointer-events: all;
	border: 0;
	border-radius: $border-rounded;
	padding: 0.5rem;
	margin-top: -0.5rem;
	margin-left: -100%;
	margin-right: 100%;
	background: none;
	font-size: 0.7rem;
	line-height: 1;
	transition: $transition;
	transition-property: margin, transform;
	transform: translateX(calc(100% + 0.5rem));

	@media (min-width: $mq-header-narrow) {
		display: none;
	}

	// Only display when JavaScript has added ARIA attribute
	&:not([aria-expanded]) {
		display: none;
	}

	&[aria-expanded="true"] {
		z-index: 1; // Overlap menu items
		transform: translateX(0%);
		border-top-left-radius: 0;
		border-bottom-left-radius: 0;
		margin-left: 0%;
		margin-right: 0%;
		background: $colour-sea-dark;
	}

	&:hover {
		background: $colour-sea-light;
	}

	&-icon {
		display: block;
		width: 1rem;
		height: 1rem;
		margin: 0 auto 0.2rem;

		.line-top-left,
		.line-top-right,
		.line-mid-left,
		.line-mid-right,
		.line-bottom-left,
		.line-bottom-right {
			transition: transform $transition;
			fill: currentColor;
		}

		.line-top-left {
			transform-origin: 0% 10px;
		}
		.line-top-right {
			transform-origin: 100% 10px;
		}
		.line-mid-left,
		.line-mid-right {
			transform-origin: center;
		}
		.line-bottom-left {
			transform-origin: 0% calc(100% - 10px);
		}
		.line-bottom-right {
			transform-origin: 100% calc(100% - 10px);
		}
	}

	&[aria-expanded="true"] .menu-button-icon {
		.line-top-left {
			transform: translate(5px, -5px) rotate(45deg) scaleX(1.1);
		}

		.line-top-right {
			transform: translate(-5px, -5px) rotate(-45deg) scaleX(1.1);
		}

		.line-mid-left,
		.line-mid-right {
			transform: scaleX(0);
		}

		.line-bottom-left {
			transform: translate(5px, 5px) rotate(-45deg) scaleX(1.1);
		}

		.line-bottom-right {
			transform: translate(-5px, 5px) rotate(45deg) scaleX(1.1);
		}
	}

	&-text {
		display: inline-block;
		width: 2rem;
		width: min-content;
	}
}

.menu {
	pointer-events: all;
	list-style-type: none;
	border-radius: $border-rounded;
	margin-top: -1rem;
	padding: 1rem 1rem 1rem calc(1rem + 1ch);
	background: $colour-sea-dark;
	transition: $transition;
	transition-property: transform, opacity, background-color;

	@media (min-width: $mq-header-narrow) {
		margin: 0;
		padding: 0;
		background: none;
	}

	&-button[aria-expanded] ~ .menu {
		transform: translateX(calc(1rem - 100%));
		opacity: 0;

		@media (min-width: $mq-header-narrow) {
			transform: none;
			opacity: 1;
		}
	}

	&-button[aria-expanded="true"] ~ .menu {
		transform: translateX(0%);
		opacity: 1;
	}

	li[aria-current="page"] {
		position: relative;

		&::before {
			position: absolute;
			display: block;
			content: '';
			background: url("/leahviathan/img/squid.png");
			background-size: contain;
			transform: translateY(-50%);
			top: 50%;
			right: calc(100% + 0.5ch);
			width: 1rem;
			height: 1rem;

			@media (min-width: $mq-header-narrow) {
					display: none;
			}
		}
	}

	@media (min-width: $mq-header-narrow) {
		> li {
			display: inline-block;
			margin: 0 1em 1em 0;
		}
	}
}

}