---
layout: base
title: Home
---

<header id="page-header">
	{% include animations-toggle.html %}
	<h1>Leahviathan</h1>
	<img src="img/header-neon.png" alt="">
	<div class="social-icons">
		<a href="https://www.twitch.tv/leah" rel="noopener"><img src="img/icon-twitch.svg" alt="Twitch icon"></a>
		<a href="https://twitter.com/leahviathan" rel="noopener"><img src="img/icon-twitter.svg" alt="Twitter icon"></a>
		<a href="https://www.instagram.com/leahviathan/" rel="noopener"><img src="img/icon-instagram.svg" alt="Instagram icon"></a>
	</div>
</header>
{% include nav.html %}
<main>
	<h2>Hi there</h2>
	<p>I'm Leah, a Livestreamer based in London, UK!</p>
	<p>Previously I worked as a Stream Strategist and Presenter for Xbox UK.</p>
	<p>Currently I am a freelance presenter and live streamer, working on Acting skills and other skills on the side.</p>
	<a href="info/">Explore my depths</a>
</main>