---
title: Home
---

<!DOCTYPE html>
<html lang="en-GB">
{% include head.html %}
<body>
	<header>
		{% include navigation-menu.html %}
		{% include animations-toggle.html %}
		<h1><span class="bracket-left" aria-hidden="true">[</span>Leahviathan<span class="bracket-right" aria-hidden="true">]</span></h1>
		<div class="social-icons">
			<a href="https://www.twitch.tv/leah" rel="noopener" class="icon-twitch"><img src="img/icon-twitch.svg" alt="Twitch" width="48" height="48"></a>
			<a href="https://twitter.com/leahviathan" rel="noopener" class="icon-twitter"><img src="img/icon-twitter.svg" alt="Twitter" width="48" height="48"></a>
			<a href="https://www.instagram.com/leahviathan/" rel="noopener" class="icon-instagram"><img src="img/icon-instagram.svg" alt="Instagram" width="48" height="48"></a>
			<a href="https://www.youtube.com/c/leahviathan" rel="noopener" class="icon-youtube"><img src="img/icon-youtube.svg" alt="Youtube" width="48" height="48"></a>
		</div>
	</header>
	<main>
		<h2>Hi there!</h2>
		<p>I'm Leah, a Livestreamer based in London, UK!</p>
		<p>Previously I worked as a Stream Strategist and Presenter for Xbox UK.</p>
		<p>Currently I am a freelance presenter and live streamer, working on Acting skills and other skills on the side.</p>
		<a class="button" href="info/">Explore my depths</a>
	</main>
	{% include footer.html %}
</body>
</html>