%button {
	cursor: pointer;
	display: inline-block;
	padding: 0.5rem 1rem;
	border: 0.05rem solid $colour-contrast;
	border-radius: $border-rounded;
	background: $colour-brand;
	color: white;
	line-height: 1.5;
	text-align: center;

	&:link,
	&:visited,
	&:hover:not(:active) {
		color: white;
	}

	&:hover:not(:active) {
		border-color: transparent;
	}

	&:active {
		transform: translate(0.05rem, 0.05rem);
	}
}