%button {
	cursor: pointer;
	display: inline-block;
	padding: 0.5rem 1rem;
	border: 0.05rem solid;
	border-color: $colour-brand-lighter;
	border-radius: $border-rounded;
	line-height: 1.5;
	text-align: center;
	color: $colour-text-light;
	background: $colour-brand;

	&:hover:not(:active) {
		background: $colour-brand-lighter;
	}

	&:active {
		transform: translate(0.05rem, 0.05rem);
	}

	&:link {
		color: currentColor;
	}

	&:visited {
		color: currentColor;
	}
}